.current-show {
  margin-left: 2em;
  display: block;
  float: left;
}

.on-air {
  color: black;
}

.schedule-wrapper {
  display: none;
  margin-left: -100%;
  transition-duration: 1s;

  &.active {
    margin-left: 0;
  }
}