.schedule-wrapper {
  margin-left: 25vw;
  padding: 30px;
  width: 100%;

  // @media (max-width: $breakpoint--mobile) {
  //   margin-left: 0;
  // }

  h1 {
    color: black;
    font-weight: 600;
    padding: 15px 0 60px 0;
    margin: 0;
  }
}

$cell-height: 51px;

.schedule {
  width: 100%;
  text-align: left;
  font-size: .8rem;
  table-layout: fixed;

  .headings {
    text-transform: uppercase;
    border-bottom: 2px solid black;

    th {
      padding-bottom: 10px;

      &:first-child {
        color: gray;
      }
    }
  }

  .timeslot {
    color: gray;
    border-bottom: 1px solid gray;

    td {
      position: relative;

      &:first-child {
        padding: 25px 0 10px 0;
      }
    }

    .item {
      background-color: black;
      color: white;
      padding: 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: $cell-height;

      @for $i from 2 through 7 {
        &.hours-#{$i} {
         height: $cell-height * $i;
        }
      }


      h6 {
        margin: 0;
        font-size: .8rem;
        font-weight: 500;
      }

      p {
        font-size: .6rem;
        margin: 0;
      }
    }
  }
}
