//
// Left-hand column, show/song info, record container.
//

.player {
  background-color: #000;
  width: 25vw;
  height: 100vh;

  // @media screen and (max-width: $breakpoint--mobile) {
  //   display: inline-block;
  //   background-color: #000;
  //   width: 100%;
  //   height: 100%;
  // }

  // @media (min-width: $breakpoint--mobile) {
  //   position: fixed;
  // }
}

//
// Show information, scheduled block, DJ Name?
//

.info {
  display: inline-block;
  float: left;
  width: 20vw;
  margin: 0 10%;
  color: gray;
  border-top: 1px solid white;
  // @media screen and (max-width: $breakpoint--mobile) {
  //   width: 80vw;
  // }
}