//
// Record + Start/Stop Button
//

.record {
  display: inline-block;
  float: left;
  margin: 10%;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: white;
  background-image:url('https://mrtwinsister.com/static/images/mr_twin_sister.jpg');
  background-size: cover;

  &:hover {
    transition: opacity .125s ease-in-out;
    opacity: .5;
  }
  // @media screen and (max-width: $breakpoint--mobile) {
  //   position: relative;
  //   float: none;
  //   display: block;
  //   margin: 15% auto;
  //   width: 250px;
  //   height: 250px;
  // }
}

#start-stop {
  display: none;
}

#playing {
  animation: rotation 10s infinite linear;
  animation-play-state: running;
}

#start-stop:checked + #playing {
  animation-play-state: paused;
  opacity: .25;
}

.btn--start-stop {
  margin: 10%;
  width: 20vw;
  height: 20vw;
  z-index: 10;
  background: url("http://i.imgur.com/F2fkSXb.png") -200px;
  .start-stop:checked ~ & {
    background: url("http://i.imgur.com/F2fkSXb.png") 0px;
  }
  // @media screen and (max-width: $breakpoint--mobile) {
  //   top: 0;
  //   left: 0;
  //   margin: 0 auto;
  //   width: 200px;
  //   height: 200px;
  // }
}